<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div class="container">
        <header class="page-header">
            <h1>Título página</h1>
        </header>
        <nav class="page-nav">
            <ul>
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
                <li><a href="#">Menu 4</a></li>
            </ul>
        </nav>
        <main class="page-main">
           <section class="page-section">
               <div class="grid">
                   <div class="col col-tb-4">
                       <h2>Sección 1 </h2>
                   </div>
                   <div class="col col-tb-8">
                       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam fugiat, modi nihil provident, facilis vitae quaerat, fuga doloremque expedita consectetur dolor quam excepturi! Sunt voluptates culpa expedita blanditiis natus perferendis nobis perspiciatis delectus consequatur nihil. Natus soluta, esse illo nemo deserunt omnis. Dolore pariatur, cum id tempore aperiam, at aliquid impedit quod, rerum nisi ex! Nihil et eveniet nesciunt qui provident numquam expedita inventore nemo ex iusto, explicabo quia maxime delectus dolores, esse nobis facilis ea rerum beatae corrupti labore. Quidem, debitis perferendis optio doloremque molestiae assumenda amet ipsum non a recusandae? Expedita voluptate, fugiat optio natus dolore itaque unde.</p>
                       <p>Possimus rerum, ducimus maiores hic, nihil, maxime in architecto reprehenderit sequi inventore voluptatibus autem omnis! Incidunt facilis et laboriosam autem deleniti quia pariatur alias deserunt doloribus ratione! Impedit deleniti rerum, labore id nostrum accusamus, soluta accusantium illum, ipsam voluptatibus tenetur? Debitis ipsam, quos deleniti laboriosam cupiditate doloribus quas iusto beatae molestias nemo iste rerum harum odio, consectetur, possimus perferendis dolores sequi dolore est laudantium at a! Cupiditate commodi odit quaerat, sapiente velit adipisci quibusdam, inventore veritatis debitis eos sint hic animi. Debitis, magni velit itaque soluta mollitia, fugit, impedit ratione quisquam voluptates labore cumque. Sunt praesentium neque deleniti possimus molestiae.</p>
                   </div>
               </div>
           </section>

        </main>
        <footer class="page-footer">
            <p>Todos los derechos reservados | eduMac 2018 | Sergio Pg</p>
        </footer>
    </div>
    <div id="js">
        <script src="js/lib/jquery-3.3.1.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>