@charset "UTF-8";

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");

/* General */
@import url("lib/normalize.css");
body {
	font-family: "Open Sans", sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
img {
	display: block;
	max-width: 100%;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/* Header */
.page-header {
	position: relative;
}
.page-header h1 {
	position: absolute;
	top: 25px;
	left: 25px;
	margin: 0;
	font-size: 35px;
	font-weight: 400px;
	text-transform: uppercase;
	text-shadow: 1px 1px 5px #666;
	color: #ccc;
}
/* Nav */
.page-nav {
	padding: 20px 0;
}
.page-nav li {
	display: inline-block;
}
.page-nav li + li {
	margin-left: 16px;
}
.page-nav a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #EB0609;
}
.page-nav a:hover {
	text-decoration: underline;
}
/* Main */
.page-main {
	padding: 65px 0;
}
.page-main h2 {
	font-size: 30px;
	font-weight: 400px;
	color: #0685C8;
}
.page-main h2:first-child {
	margin-top: 0;
}
.page-main p {
	line-height: 1.6;
}


/* Footer */
.page-footer {
	padding: 16px;
	text-align: center;
	border-top: 1px solid #ccc;
}

.page-footer p {
	margin: 0;
	font-size: 14px;
	color:#BA5605;
}

/*Grid */
.grid {
	margin-left: -16px;
}
.grid::before, .grid:after {
	content: "";
	display: block;
}
.grid:after {
	clear: both;
}
.col {
	box-sizing: border-box;
	padding-left: 16px;
}

@media screen and (min-width:768px) {
.col {
	float: left;
}
.col-tb-1 {
	width: 8.33%;
}
.col-tb-2 {
	width: 16.66%;
}
.col-tb-3 {
	width: 25%;
}
.col-tb-4 {
	width: 33.33%;
}
.col-tb-5 {
	width: 41.66%;
}
.col-tb-6 {
	width: 50%;
}
.col-tb-7 {
	width: 58.33%;
}
.col-tb-8 {
	width: 66.66%;
}
.col-tb-9 {
	width: 75%;
}
.col-tb-10 {
	width: 83.33%;
}
.col-tb-11 {
	width: 91.66%;
}
.col-tb-12 {
	width: 100%;
}
}

@media screen and (min-width:992px) {
.col-dk-1 {
	width: 8.33%;
}
.col-dk-2 {
	width: 16.66%;
}
.col-dk-3 {
	width: 25%;
}
.col-dk-4 {
	width: 33.33%;
}
.col-dk-5 {
	width: 41.66%;
}
.col-dk-6 {
	width: 50%;
}
.col-dk-7 {
	width: 58.33%;
}
.col-dk-8 {
	width: 66.66%;
}
.col-dk-9 {
	width: 75%;
}
.col-dk-10 {
	width: 83.33%;
}
.col-dk-11 {
	width: 91.66%;
}
.col-dk-12 {
	width: 100%;
}
}
/* Helpers */
.clearfix:before, .clearfix:after {
	content: "";
	display: block;
}
.clearfix:after {
	clear: both;
}
